### Unpacking Iterables

> Aaron's Experiences with `Unpacking Iterables`

> <font color="royalblue">Side Notes on Tuples</font>
>  - This is a Tuple:

In [1]:
a = (1, 2, 3)

In [2]:
type(a)

tuple

> - this is also a `tuple`

In [3]:
a = 1, 2, 3

In [4]:
type(a)

tuple

#### <font color="salmon">For tuple, `()` parenthesis are not import - it is **`The Comma That Matters`**</font>

In [5]:
# to create a tuple with a single element:
a = (1)

In [6]:
type(a)

int

> <font color="salmon"> Instead, we'll have to use `a comma`:</font>

In [7]:
a = (1,)

In [8]:
type(a)

tuple

> - in fact, we `don't even need` the `()`

In [9]:
a = 1,

In [10]:
type(a)

tuple

`The only exception` when creating an `empty tuple`:

In [11]:
# create empty tuples with literal

a = ()

In [12]:
type(a)

tuple

> = or we create an empty tuple with `tuple constructor`

In [14]:
# create empty tuples with tuple constructor:

a = tuple()

In [15]:
type(a)

tuple

> #### <font color="lightgreen">**Unpacking**</font>

In [16]:
l = [1, 2, 3, 4]

In [17]:
a, b, c, d = l

In [18]:
print(a, b, c, d)

1 2 3 4

In [19]:
a, b, c = 'MNO'
print(a, b, c)

M N O

#### <font color='lightgreen'>Swapping Variables with **Unpacking**</font>

In [20]:
# Traditional approach

a = 10
b = 20
print(f'a={a}, b={b}')

tmp = a
a = b
b = tmp

print(f'a={a}, b={b}')

a=10, b=20
a=20, b=10

In [22]:
a = 10
b = 20
print(f'a={a}, b={b}')

a, b = b, a
print(f'a={a}, b={b}')

a=10, b=20
a=20, b=10

> - in fact, we can simplify more

In [23]:
a, b = 10, 20
print(f'a={a}, b={b}')

a, b = b, a
print(f'a={a}, b={b}')

a=10, b=20
a=20, b=10

`Unpacking Unordered Objects` -- `dict`, `sets`

In [29]:
# dict creation with dict constructor

dict1 = dict(p=1, y=2, t=3, h=4, o=5, n=6)

dict1

{'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [27]:
# dict creation with literals

dict2 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

dict2

{'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [31]:
# try literal with different order when creating dict

# the order in newer version of Python is to be with insertion order

dict3 = {'y': 2, 'n': 6, 't': 3, 'p': 1, 'h': 4, 'o': 5}

dict3

{'y': 2, 'n': 6, 't': 3, 'p': 1, 'h': 4, 'o': 5}

In [34]:
a, b, c, d, e, f = dict1

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
y
t
h
o
n

In [35]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [36]:
type(s)

set

In [37]:
print(s)

{'o', 't', 'p', 'h', 'n', 'y'}

In [38]:
for c in s:
    print(c)

o
t
p
h
n
y

In [39]:
a, b, c, d, e, f = s

In [40]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

o
t
p
h
n
y

#### Side Note on Tuples

This is a tuple:

In [1]:
a = (1, 2, 3)

In [2]:
type(a)

tuple

This is also a tuple:

In [3]:
a = 1, 2, 3

In [4]:
type(a)

tuple

In fact what defines a tuple is not **()**, but the **,** (comma)

To create a tuple with a single element:

In [5]:
a = (1)

will not work!!

In [6]:
type(a)

int

Instead, we have to use a comma:

In [7]:
a = (1,)

In [8]:
type(a)

tuple

And in fact, we don't even need the **()**:

In [9]:
a = 1,

In [10]:
type(a)

tuple

The only exception is to create an empty tuple:

In [11]:
a = ()

In [12]:
type(a)

tuple

Or we can use the tuple constructor:

In [13]:
a = tuple()

In [14]:
type(a)

tuple

#### Unpacking

Unpacking is a way to split an iterable object into individual variables contained in a list or tuple:

In [15]:
l = [1, 2, 3, 4]

In [16]:
a, b, c, d = l

In [17]:
print(a, b, c, d)

1 2 3 4

Strings are iterables too:

In [18]:
a, b, c = 'XYZ'
print(a, b, c)

X Y Z

#### Swapping Two Variables

Here's a quick application of unpacking to swap the values of two variables.

First we look at the "traditional" way you would have to do it in other languages such as Java:

In [19]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

tmp = a
a = b
b = tmp
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

But using unpacking we can simplify this:

In [20]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

a, b = b, a
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

In fact, we can even simplify the initial assignment of values to a and b as follows:

In [21]:
a, b = 10, 20
print("a={0}, b={1}".format(a, b))

a, b = b, a
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

#### Unpacking Unordered Objects

In [22]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [23]:
dict1

{'h': 4, 'n': 6, 'o': 5, 'p': 1, 't': 3, 'y': 2}

In [24]:
for c in dict1:
    print(c)

p
y
t
h
o
n

In [25]:
a, b, c, d, e, f = dict1
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
y
t
h
o
n

Note that this order is not guaranteed. You can always use an OrderedDict if that is a requirement.

The same applies to sets.

In [26]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [27]:
type(s)

set

In [28]:
print(s)

{'p', 't', 'y', 'n', 'o', 'h'}

In [29]:
for c in s:
    print(c)

p
t
y
n
o
h

In [30]:
a, b, c, d, e, f = s

In [31]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
t
y
n
o
h